<div class="container mt-5">
  <h1>Employees of <%= @company.name %></h1>
  <%= link_to 'Add Employee', new_company_employee_path(@company), class: 'btn btn-primary mb-3' %>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @employees.each do |employee| %>
        <tr>
          <td><%= employee.name %></td>
          <td><%= employee.email %></td>
          <td>
            <%= link_to 'Edit', edit_company_employee_path(@company, employee), class: 'btn btn-warning' %>
            <%= link_to 'Delete', company_employee_path(@company, employee), method: :delete, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
            <%= link_to 'View Claims', company_employee_reimbursement_claims_path(@company, employee), class: 'btn btn-info' %>
            <%= link_to 'Add Reimbursement Claim', new_company_employee_reimbursement_claim_path(@company, employee), class: 'btn btn-success' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>