<div class="container mt-5">
  <h1><%= @company.new_record? ? 'New Company' : 'Edit Company' %></h1>

  <% if @company.errors.any? %>
    <div class="alert alert-danger">
      <h4>There were errors while saving the company:</h4>
      <ul>
        <% @company.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_with(model: @company, local: true, data: { turbo: false }) do |form| %>
    <div class="form-group mb-2">
      <%= form.label :name %>
      <%= form.text_field :name, class: 'form-control', required: true %>
      <%= form.label :total_reimbursements %>
      <%= form.number_field :total_reimbursements, class: 'form-control readonly-field', readonly: true %>
      <%= form.label :employee_count %>
      <%= form.number_field :employee_count, class: 'form-control readonly-field', readonly: true %>
    </div>
    <%= form.submit class: 'btn btn-primary' %>
  <% end %>
</div>

<style>
  .readonly-field {
    background-color: #e9ecef; /* Light gray background */
    color: #6c757d; /* Dark gray text */
    cursor: not-allowed; /* Indicate that the field is not editable */
  }
</style>
