<div class="container mt-5">
<h1>Companies</h1>
<%= link_to 'Add Company', new_company_path, class: 'btn btn-primary mb-3' %>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Employee Count</th>
      <th>Total Reimbursements</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.name %></td>
        <td><%= company.employee_count %></td>
        <td><%= number_to_currency(company.total_reimbursements) %></td>
        <td>
          <%= link_to 'Show Employees', company_employees_path(company), class: 'btn btn-info' %>
          <%= link_to 'Edit', edit_company_path(company), class: 'btn btn-warning' %>
          <%= link_to 'Delete', company_path(company), method: :delete, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>